@mixin center(){
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotationBackwards {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(1deg);
  }
}

.homepage_container_centerImageHolder{
  width: 99vw;
  height: 98vh;
  position: relative;

  display: grid;
}

.homepage_container_buttonHolder{

  @include center;


  width: 250px;
  height: 200px;

  button{
    @include center;
    z-index: 0;
    border: none;
    background: radial-gradient(rgba(255,0,0,0) ,slategrey 70%);
    width: 250px;
    height: 250px;
      transition: all 150ms ease-in;
      transition: all 550ms ease-out;
      border-radius: 50%;

    &:focus{
      outline:none;
    }
  }
}


.roulette-wheel {
    align-self: center;
    justify-self: center;
    position: absolute;
    transition: all 500ms ease;
}

.roulette-wheel:nth-child(1) {
  -webkit-animation: rotation 25s infinite linear;
  width: 20vw;
  z-index: -1;
}

.roulette-wheel:nth-child(2) {
  -webkit-animation: rotation 10s infinite linear;
  width: 30vw;
  z-index: -2;
}

.roulette-wheel:nth-child(3) {
  -webkit-animation: rotationBackwards 20s infinite linear;
  width: 45vw;
  z-index: -3;
}

.roulette-wheel:nth-child(4) {
  -webkit-animation: rotation 40s infinite linear;
  width: 65vw;
  z-index: -4;
}



