@import 'mainpage';
@import 'homepage';

html{
  overflow: hidden;
}

*,
*::before,
*::after{
  margin: 0px;
}

.BG {
  position: absolute;
  z-index: -10;
  background: radial-gradient(#212121, black);
}
