.mainpage_container{
  z-index: -100;
  display: grid;
  width: 100vw;
  height: 100vh;

  /*pa is short for playerArea*/
  grid-template-rows: [pa1_2-s] 3fr [content-s pa1_2-e] minmax(200px,300px) [content-e pa3_4-s] 3fr [pa3_4-e];
  grid-template-columns: [pa1_3-s] 2fr [middle-s pa1_3-e] minmax(200px,300px) [middle-e pa2_4-s] 2fr [pa2_4-e];

  &_1{
    grid-row: pa1_2-s/pa1_2-e;
    grid-column: pa1_3-s/pa1_3-e;
    //border: solid 2px crimson;
  }

  &_2{
    grid-row: pa1_2-s/pa1_2-e;
    grid-column: pa2_4-s/pa2_4-e;
    //border: solid 2px crimson;
  }

  &_3{
    grid-row: pa3_4-s/pa3_4-e;
    grid-column: pa1_3-s/pa1_3-e;
    //border: solid 2px crimson;
  }

  &_4{
    grid-row: pa3_4-s/pa3_4-e;
    grid-column: pa2_4-s/pa2_4-e;
    //border: solid 2px crimson;
  }

  &_middle{
    grid-row: content-s/content-e;
    grid-column: middle-s/middle-e;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.mainpage_container_1,.mainpage_container_2,
.mainpage_container_3,.mainpage_container_4{
  display: flex;
}

.mainpage_container_1{
    background: url("../assets/Web-BorderP1.png");
    background-size: 100% 100%;
}
.mainpage_container_2{
    background: url("../assets/Web-BorderP2.png");
    background-size: 100% 100%;
}
.mainpage_container_3{
    background: url("../assets/Web-BorderP3.png");
    background-size: 100% 100%;
}
.mainpage_container_4{
    background: url("../assets/Web-BorderP4.png");
    background-size: 100% 100%;
}

.lower{
  justify-content: flex-end;
}

.left{
  order: 1;
}

.right{
  order: 2;
}

.top{
  align-self: flex-start;
}

.bottom{
  align-self: flex-end;
}

.playerArea{
  display: flex;
  width: 100%;

  &_imageHolder{
    min-width: 150px;
    max-width: 220px;
    height: 95%;
    max-height: 500px;
    // min-width: 150px;
    // min-height:150px;
    // max-height: 15vh;
    //border: solid 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .playerImageWrapper{
      display: grid;
      //border: solid 2px black;
      // margin-top: 10px;
      width: 90%;
      height: 40%;
      max-height: 200px;
      margin-bottom: 10px;

      .playerImage{
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 80%;
        // z-index: -1;
          grid-row: 1;
          grid-column: 1;
      }

      .form-image__replace{
        align-self: center;
        justify-self: center;
        grid-row: 1;
        grid-column: 1;
      }
    }

    button{
      justify-self: flex-start;
    }

    .cardImage{
      //border: solid 2px slategrey;
      width: 90%;
      height: 40%;
      display: flex;
      justify-content: center;

      &_image{
        width: 80%;
        height: 80%;
        align-self: center;
      }
    }
  }

  &_nameHolder{
    width:100%;
    height: 100%;
    //border: solid 2px green;
    display: flex;
    flex-direction: column;

    &_name{
      // text-align: center;
      justify-self: flex-end;
      height: 100px;
      width: 100%;
      //border: solid 2px orange;
      line-height: 80px;
      font-size: 35px;
      color: slategrey;
      text-shadow: 0 0 10px black;
    }

    .chipArea{
      // align-self: flex-end;
      display:flex;
      width: 95%;
      height: 100%;
      //border: solid 3px crimson;
      // align-self: flex-end;
      justify-content: space-around;

      .chip{
        align-self: center;
        min-width:150px;
        min-height: 150px;
        // align-self: center;
        max-width: 175px;
        max-height: 175px;
        //border: solid 2px purple;
        display: flex;
        flex-direction: column;
        background-image: url("../assets/Red-Chip.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        justify-content: center;

        img{
          width:44%;
          height: 44%;
          align-self: center;
          justify-self: center;

        }

        button{
          width:90%;
          height:10%;align-self: center;
          justify-self: flex-end;
        }
      }
    }
  }
}

#player1Name, #player3Name{
  margin-left: 10px;
}

#player2Name, #player4Name{
  margin-right: 10px;
  text-align: right;
}


@keyframes test {

  25% {
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
  }
  75% {
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
  }

}

.roulette{
  //border: solid 2px brown;
  max-width: 45%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_image_holder{
    //border: solid 2px cornflowerblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    img{
      width: 100%;
      clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
      animation: test 100ms alternate  infinite ;
    }
  }

  &_type_holder{
    display: flex;
    width: 100%;
    //border: solid 2px lightgreen;

    button{
      width:48%;
    }

    select{
      width: 48%;
      height: 100%;
      margin-left: auto;
    }
  }
}

// svg {
//   .gradient-layer1 {
//     fill: url(#gr-overlay1);
//   }
//   .gradient-layer2 {
//     fill: url(#gr-overlay2);
//   }
//   .gradient-layer3 {
//     fill: url(#gr-overlay3);
//   }
//   .gradient-layer4 {
//     fill: url(#gr-overlay4);
//   }
// }
