@import 'chip';
@import 'image-holder';

@mixin top-grid {
  grid-template-rows: [text-s image-s] 1fr [text-e chip-s] 2fr [chip-e image-e];
}
@mixin left-grid {
  grid-template-columns: [image-s] 1fr [image-e chip-s text-s] 3.5fr [chip-e text-e];
  grid-column-gap: 2%;
}
@mixin bottom-grid {
  grid-template-rows: [chip-s image-s] 2fr [chip-e text-s] 1fr [text-e image-e];
}
@mixin right-grid {
  grid-template-columns: [chip-s text-s] 3.5fr [chip-e text-e image-s] 1fr [image-e];
  grid-column-gap: 2%;
}

// Main Grid
.mainpage_container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 2fr .5fr 2fr;
}


// PLAYER CONTAINER GRIDS
div[class*="player-container-"] {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  background-size: 100% 100%;
}
.player-container-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  @include left-grid();
  @include top-grid();
  background-image: url('../assets/Web-BorderP1.png');
  z-index: -4;
}
.player-container-2 {
  grid-row: 1/2;
  grid-column: 3/4;
  @include right-grid();
  @include top-grid();
  background-image: url('../assets/Web-BorderP2.png');
}
.player-container-3 {
  grid-row: 3/4;
  grid-column: 1/2;
  @include left-grid();
  @include bottom-grid();
  background-image: url('../assets/Web-BorderP3.png');
}
.player-container-4 {
  grid-row: 3/4;
  grid-column: 3/4;
  @include right-grid();
  @include bottom-grid();
  background-image: url('../assets/Web-BorderP4.png');
}


// PLAYER AREA COMPONENTS

.chipArea {
  grid-row: chip-s/chip-e;
  grid-column: chip-s/chip-e;
  width: 80%;
  height: 100%;
  position: absolute;

  // border: solid 2px rgb(255, 23, 23);
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
}
div[class*="playerName"] {
  grid-column: text-s/text-e;
  grid-row: text-s/text-e;
  align-self: center;

  font-size: 2rem;
  color: slategrey;
  text-shadow: 0 0 10PX BLACK;
}
.playerName_reverse {
  justify-self: end;
}
.playerName_bottom {
  transform: translateY(25%);
}
.playerName_top {
  transform: translateY(-25%);
}
div[class*="player-imageHolder"] {
  grid-row: image-s/image-e;
  grid-column: image-s/image-e;
  width: 100%;
  height: 94%;
  position: absolute;
  // background-color: red;
  position: relative;

  display: grid;
}
.player-imageHolder {
  grid-template-rows: [player-s] 1fr [player-e card-s] 1fr [card-e];
}
.player-imageHolder_bottom {
  transform: translateY(6%);
  grid-template-rows: [card-s] 1fr [card-e player-s] 1fr [player-e];
}


.roulette{
  //border: solid 2px brown;
  max-width: 45%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_image_holder{
    //border: solid 2px cornflowerblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    img{
      width: 100%;
      clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
      animation: actionClip 500ms linear  infinite ;
    }
  }

  &_type_holder{
    display: flex;
    width: 100%;
    //border: solid 2px lightgreen;

    button{
      width:48%;
    }

    select{
      width: 48%;
      height: 100%;
      margin-left: auto;
    }
  }
}