@import 'animations';
@import 'mainpage';
@import 'homepage';

html{
  overflow: hidden;
  background: url("https://placecage.com/1300/1200");
  background-size: cover;
}

*,
*::before,
*::after{
  margin: 0px;
  user-select: none;
  -moz-user-select: none;
}

.BG {
  position: absolute;
  z-index: -10;
  background: radial-gradient(#212121, black);
}
